@{
    ViewData["Title"] = "Index";
}
<head>
    <style>
        .container {
            position: relative;
        }

        .center {
            position: absolute;
            left: 0;
            top: 30%;
            width: 100%;
            text-align: center;
            font-size: 25px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        img {
            width: 100%;
            height: auto;
            opacity: 1;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="~/images/Theater.jpg" width="1500" height="300">
        <div class="center">Find Your Favorite Movies Here<br/>Start your Search Today!<br/>
            <form action="/Movie/GetMoviesByTitle" method="post">
                <input type="text" name="keyword" />
                <input type="submit" value="Search" />
            </form>
        </div>
    </div>

</body>
    @*<head>
            <style>
                body {
                    background-image: url("https://images.financialexpress.com/2020/05/Cinema-halls-660x440-620x413.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            </style>
        </head>
        <body>
            <h2 class="text-center", >Search for Movies by Title</h2>
            <form action="/Movie/GetMoviesByTitle" method="post">
                <input type="text" name="keyword" />
                <input type="submit" value="Search" />
            </form>
        </body>*@

    @*<div class="jumbotron text-center">
            <h1 class="display-6 text-warning">On the go?</h1>
            <h1 class="display-5 text-danger">Forgotten the name of your favorite movies???</h1>
            <h1 class="display-4 text-primary">Don't Sweat It, You've Got</h1>
            <h1 class="display-4 text-primary"><b>This Movie App.</b></h1>
            <p class="lead">This simple application allows you to save your favorites to a list you can reference later!</p>
            <hr class="my-4">
            <h2>Search for Movies by Title, And Get To Savin'!</h2>
            <form action="/Movie/GetMoviesByTitle" method="post">
                <input class="form-control-lg" type="text" name="keyword" />
                <input class="btn btn-primary btn-lg" type="submit" value="Search" />
            </form>
        </div>*@
